.contact
{
    background: url("../assets/img/background.jpg") center no-repeat;
    padding-top: 1em;
    padding-left: 1em;
}
.contact h1
{
    color: antiquewhite;
}

.contact form
{
    color: antiquewhite;
}