footer 
{
    height: 30px;
    font-size: 1em;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 4em 0 4em 0;
}

footer ul
{
    background: blue;
}
footer ul li 
{
    list-style-type:none;
    display: inline-block;
}