footer 
{
    position: absolute;
    left: 0px;
    right:0px;
    height: 30px;
    font-size: 1em;
    width: 100%;
    text-align: center;
    padding: 4em 0 4em 0;
    
}

footer ul
{
    background: lightslategray;
    padding: 1em;
    margin: 0px;
}
footer ul li 
{
    list-style-type:none;
    display: inline-block;
}